version: "3"
services:
  # Builds the auction service using port 5003
  auction_service:
    build: auction_service
    ports:
      - "5003:5003"
    # Makes the auction service wait until the auction DB is up and running
    depends_on:
      auction_db:
        condition: service_healthy

  auction_queue:
    build: auction_queue
    ports:
      - "5004:5004"
    depends_on:
      auction_db:
        condition: service_healthy

  # Builds the auction DB mapping port 3308 to 3306 (MySQL default)
  # Auction DB using port 3308 allows other SQL DBs to use other ports
  auction_db:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3308:3306"
    # Runs the command to check whether the db is up and running yet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10
