version: "3"
services:
  #---------- AUCTION ----------#
  # Builds the auction DB mapping port 3308 to 3306 (MySQL default)
  # Auction DB using port 3308 allows other SQL DBs to use other ports
  auction_db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3308:3306"
    # Runs the command to check whether the db is up and running yet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  # Builds the auction service using port 5003
  auction_service:
    build: auction_service
    ports:
      - "5003:5003"
    volumes:
      - /etc/localtime:/etc/localtime
    # Makes the auction service wait until the auction DB is up and running
    depends_on:
      auction_db:
        condition: service_healthy

  # Builds the auction queue service using port 5004
  # auction_queue:
  #   build: auction_queue
  #   ports:
  #     - "5004:5004"
  #   volumes:
  #     - /etc/localtime:/etc/localtime
  #   depends_on:
  #     auction_db:
  #       condition: service_healthy

  #---------- INVENTORY ----------#
  inventorydb:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3309:3306"
    # Runs the command to check whether the db is up and running yet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  inventory_service:
    build: inventory
    ports:
      - "5001:5000"
    volumes:
      - /etc/localtime:/etc/localtime
    depends_on:
      inventorydb:
        condition: service_healthy

  #---------- SHOPPING ----------#
  shoppingdb:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3307:3306"
    # Runs the command to check whether the db is up and running yet
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 5s
      retries: 10

  shopping_service:
    build: shopping_service
    ports:
      - "5002:5000"
    volumes:
      - /etc/localtime:/etc/localtime
    depends_on:
      shoppingdb:
        condition: service_healthy

  #---------- ACCOUNT ----------#
  account_service_db:
    image: mongo
    ports:
      - "27017:27017"

  account_service:
    build: account_service
    ports:
      - "5005:5000"
    volumes:
      - /etc/localtime:/etc/localtime

  #---------- ADMIN ----------#
  admin_db:
    image: mongo
    ports:
      - "27018:27017"

  admin_service:
    build: admin_service
    ports:
      - "5006:5006"
    volumes:
      - /etc/localtime:/etc/localtime

  #---------- EMAIL ----------#
  email_service:
    build: email_service
    ports:
      - "5007:5007"
    volumes:
      - /etc/localtime:/etc/localtime

  #---------- FRONTEND ---------- #
  frontend:
    build: ui
    ports:
      - "3000:3000"
